<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Umap is the general GIS purpose framework based on nodejs." />
    <meta name="author" content="jiankai wang, https://jiankaiwang.no-ip.biz/" />

    <!-- css -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/node_modules/leaflet/dist/leaflet.css" rel="stylesheet" />
    <link href="/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css" rel="stylesheet" />      
    <link href="/node_modules/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href='/src/style.css' rel='stylesheet' />
  </head>
  <body>
    <div class="grayscale" id="mapid"></div>

    <!-- menu -->
    <!-- remove the searching bar type of menu
    <div class="menu">
      <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1 col-md-1 show-curosr">
          <a href="#" onclick="showNavInfo();"><i class="fa fa-bars fa-half2x" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-8 col-md-8">
          <input type="text" class="form-control input-no-border input-more-width" placeholder="<%= searchingtext %>">
        </div>
        <div class="col-xs-1 col-md-1">
          <div class="menu-div"></div>
        </div>
        <div class="col-xs-1 col-md-1 show-curosr">
          <a href="#" class="show-detail" onclick="showDetailList();"><i class="fa fa-external-link-square fa-half2x margin-left--7px" aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
    </div>
    -->
    <a href="#" onclick="showNavInfo();">
      <div class="left-panel">
        <i class="fa fa-chevron-right fa-half2x" aria-hidden="true"></i>
      </div>
    </a>

    <a href="#" onclick="showAdditionalInfo();">
      <div class="right-panel">
        <i class="fa fa-chevron-left fa-half2x" aria-hidden="true"></i>
      </div>
    </a>

    <!-- logo -->
    <div class="mark"><img class="logo" src='img/logo2-normal.png'/></div>

    <div class="detail">
      <div class="clsutering searching-option">
          日期<input type='text' class="form-control input-date" id='beginningdate'/>至<input type='text' class="form-control input-date" id='endingdate' />
          位置
          <select class="selectpicker" multiple data-width="fit" data-size="5" data-max-options="3">
            <% countryList.forEach(function(item) { %>
              <% if(item.value == "07") { %>
              <option value="<%= item.value %>" selected><%= item.name %></option>
              <% } else { %>
              <option value="<%= item.value %>"><%= item.name %></option>
              <% } %>
            <% }); %>
          </select> 登革熱 
          <select class="selectpicker" data-width="fit">
              <option selected>本土</option>
              <option>境外移入</option>
              <option>全部</option>
            </select>
          確定病例。
          <!--<i class="fa fa-search" aria-hidden="true"></i>-->
      </div>
    </div>
  
    <!-- user -->
    <div class="user show-curosr h-center">
      <a href="#" title="<%= login %>" data-toggle="modal" data-target="#loginsection">
        <i class="fa fa-user-circle fa-2x v-middle" aria-hidden="true"></i>
      </a>
    </div>

    <!-- CBS -->
    <div class="broadcast show-curosr h-center leaflet-control-zoom leaflet-bar leaflet-control">
      <a href="#" id="reportBtn" title="<%= cbswarning %>" data-toggle="modal" data-target="#">
        <!--<i class="fa fa-info-circle ubtn keep-center" aria-hidden="true"></i>-->
        <i class="fa fa-bullhorn main-btn v-middle h-center" aria-hidden="true"></i>
      </a>
    </div>

    <!-- nav -->
    <div id="nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-md-10">
            <h3><div class="meau-mark"><img class="logo_nav" src='img/logo-normal.png'/></div></h3>
          </div>
          <a href="#">
            <div class="col-xs-2 col-md-2 show-curosr" onclick="showNavInfo();">
              <h3><i class="fa fa-times" aria-hidden="true"></i></h3>
            </div>
          </a>
        </div>
        <hr class="hr-menu" />
        <!-- sync setting -->
        <div class="row">
          <a data-toggle="collapse" data-parent="#accordion" href="#syncsetting">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-refresh v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= syncsetting %></h4>
            </div>
          </a>
        </div>
        <div id="syncsetting" class="panel-collapse collapse">
          <div class="enlarge-row">
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <div class="input-slider-ctd">
                <h5><label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="primary"> 
                  <i class="fa fa-users v-middle" aria-hidden="true"></i> <%= clusteringzone %>
                </label></h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <div class="input-slider-ctd">
                <h5><label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="primary"> 
                  <i class="fa fa-flag v-middle" aria-hidden="true"></i> <%= spreading %>
                </label></h5>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <h5><label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="primary"> 
                  <i class="fa fa-bar-chart v-middle" aria-hidden="true"></i> <%= trend %>
                </label></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <h5><label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="primary"> 
                  <i class="fa fa-plane v-middle" aria-hidden="true"></i> <%= overseas %>
                </label></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <h5><label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="primary"> 
                  <i class="fa fa-fire-extinguisher v-middle" aria-hidden="true"></i> <%= prevention %>
                </label></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- legend -->
        <div class="row">
          <a data-toggle="collapse" data-parent="#accordion" href="#enableLegend">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-list-ul v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= enableLegend %></h4>
            </div>
          </a>
        </div>
        <div id="enableLegend" class="panel-collapse collapse">
          <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-10 col-md-10">
              <a href="#" title="<%= line %>" onclick="">
                <h5><%= line %> <small class="map-on"></small></h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-10 col-md-10">
              <a href="#" title="<%= point %>" onclick="addPointService()">
                <h5><%= point %> <small class="map-on"></small></h5>
              </a>
            </div>
          </div>
        </div>             
        <hr class="hr-menu" />
        <!-- map style -->
        <div class="row">
          <a data-toggle="collapse" data-parent="#accordion" href="#mapstyle">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-map v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= mapstyle %></h4>
            </div>
          </a>
        </div>
        <div id="mapstyle" class="panel-collapse collapse">
          <div class="enlarge-row">
            <div class="row">
              <div class="col-xs-6 col-md-6 no-padding-right">
                <button type="button" class="btn btn-default btn-sm full-btn" onclick="javascript: changeOuterLayer();"><%= outdoorlayer %></button>
              </div>
              <div class="col-xs-6 col-md-6 no-padding-left">
                <button type="button" class="btn btn-default btn-sm full-btn" onclick="javascript: changeGrayLayer();"><%= graylayer %></button>
              </div>
            </div>
          </div>
        </div>
        <!-- main service -->
        <div class="row">
          <a data-toggle="collapse" data-parent="#accordion" href="#editor">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-pencil-square-o v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= custom %></h4>
            </div>
          </a>
        </div>
        <div id="editor" class="panel-collapse collapse">
          <!-- point -->
          <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-10 col-md-10">
              <a href="#" title="<%= addmarker %>" onclick="addPointService();">
                <h5><%= addmarker %> <small class="map-on"></small></h5>
              </a>
            </div>
          </div>		
          <!-- line -->
          <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-10 col-md-10">
              <a href="#" title="<%= addline %>" onclick="addLineService();">
                <h5><%= addline %> <small class="map-on"></small></h5>
              </a>
            </div>
          </div>	
          <!-- polygon -->
          <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-10 col-md-10">
              <a href="#" title="<%= addpolygon %>" onclick="addPolygonService();">
                <h5><%= addpolygon %> <small class="map-on"></small></h5>
              </a>
            </div>
          </div>							
        </div>	        
        <hr class="hr-menu" />
        <!-- information -->
        <div class="row">
          <a href="<%= changelangurl %>">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-language v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= changelang %></h4>
            </div>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-info-circle v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= datainfo %></h4>
            </div>
          </a>
        </div>
        <!-- data status -->
        <div class="row">
          <a data-toggle="collapse" data-parent="#accordion" href="#datastatus">
            <div class="col-xs-2 col-md-2">
              <h4><i class="fa fa-database v-middle" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4><%= datastatus %></h4>
            </div>
          </a>
        </div>
        <div id="datastatus" class="panel-collapse collapse">
          <div class="enlarge-row">
            <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-10 col-md-10">
                <div class="input-slider-ctd">
                <h5><i class="fa fa-circle sync-green" aria-hidden="true"></i> <%= syncdatabase %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <a href="https://github.com/jiankaiwang/cdcdenguemap" target=_blank><h5><%= sourcecode %></h5></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <a href="mailto:gljankai@gmail.com" target=_blank><h5><%= opinion %></h5></a>
          </div>
        </div>
      </div>	
    </div>

    <!-- right panel -->
    <div id="additional">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-md-10">
            <h3><%= additionalInfoTitle %></h3>
          </div>
          <a href="#">
            <div class="col-xs-2 col-md-2 show-curosr" onclick="showAdditionalInfo();">
              <h3><i class="fa fa-times" aria-hidden="true"></i></h3>
            </div>
          </a>
        </div>
        <hr class="hr-menu" />
      </div>
    </div>

    <!-- icon tip -->
    <div class="legend">
      <div class="container-fluid legendBody">
      </div>
    </div>
      
    <!-- Modal -->
    <div class="modal fade" id="loginsection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= loginTitle %></h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-pills nav-justified">
              <li class="active">
                <a data-toggle="tab" href="#dropbox"><i class="fa fa-dropbox" aria-hidden="true"></i> Dropbox</a>
              </li>
              <li>
                <a data-toggle="tab" href="#googledrive"><i class="fa fa-google" aria-hidden="true"></i> Drive</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="dropbox" class="tab-pane fade in active"></div>
              <div id="googledrive" class="tab-pane fade"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><%= closeLogin %></button>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div id="detail"></div>

    <!-- chatbot -->
    <div id="chatbot"></div>

    <!-- javascript -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>	
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>	
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>  
    <script src="/node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/node_modules/moment/min/moment.min.js"></script>  
    <script src="/node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/async/async.min.js"></script>
    <script src="/seed/Common.js"></script>
    <script src="/seed/TimeCounter.js"></script>
    <script src="/src/config.js"></script>  
    <script src="/src/currentPosition.js"></script>  
    <script src="/src/addMenu.js"></script>
    <script src="/src/mainService.js"></script>
    <script src="/src/general.js"></script>  
  </body>
</html>